body, div, a, p {
  font-family: sans-serif;
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

a:visited {
  color: #000;
}

.hidden {
  display: none;
}

.is-pending {
  color: #ff9800;
}

.is-accepted {
  color: #ffc107;
}

.is-waiting {
  color: #ffeb3b;
}

.is-shipped {
  color: #4caf50;
}